__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env
.DS_Store
Thumbs.db

.pytest_cache/
.ruff_cache/
.mypy_cache/
.ultralytics/
matriculas/

*.log

static/uploads/*
!static/uploads/.gitkeep

yolov8_model/runs/
yolov8_model/yolov8n.pt
yolov8_model/data.yaml
yolov8_model/trainingModel.py
